#acc_cel .centro
{
position: absolute;
justify-content: center;
align-items: center;
width: 550px;
height: 450px;
background-color: white;
border-radius: 5px;
}

#acc_cel .centro .c1
{
position: relative;
top: 0;
left: 0;
width: 100%;
height: 50px;
padding-top:1px;
}

#acc_cel .centro .c1 button
{
float: inline-end;
height: 32px;
width: 32px;
margin-top: 10px;
margin-right: 10px;
background-color: rgb(233, 0, 0);
border: 0px;
color: white;
}



#acc_cel .centro .c1 button:hover
{
cursor: pointer;
background-color: rgb(134, 0, 0);
}

#acc_cel .centro .c2
{
position: relative;
top: 0;
left: 0;
width: calc(100% - padding);
height: calc(100% - 50px);
background-color: rgba(0,0, 0, 0.1);
padding-left: 50px;
padding-right: 35px;
padding-top: 10px;
}

#acc_cel .centro .c2 div
{
    width: 200px;
    height: 100px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    float: left;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#acc_cel .centro .c2 div:hover
{
    background-color: rgb(255, 166, 2);
    cursor: pointer;
}

#acc_cel .centro .c2 div img
{
    width: 40px;
    height: 40px;
}


#acc_cel .centro .c2 table
{
    border-collapse: collapse;
    width: 100%;
    height: 100%;
}



#acc_cel .centro .c2 table select
{
    width: 200px;
    height: 25px;
    padding-left: 20px;
    background-color: white;
    border: 1px solid black;
    border-radius: 30px;
}

/*Modelo*/

#acc_cel .centro .c2 .modelo
{
text-align: center;
padding: 0px;
border-radius: 10px;
border: 1px solid black;
height: 60px;
width: 100%;
float: inline-end;
margin-top: 10px;
}

#acc_cel .centro .c2 table
{
    width: 100%;
    height: 100%;
}

#acc_cel .centro .c2 table td
{
    text-align: center;
}


/*Construcion*/



#acc_cel .centro .c2 .contru
{
text-align: center;
padding: 0px;
border-radius: 10px;
border: 1px solid black;
height: 100px;
width: 100%;
float: inline-end;
margin-top: 10px;
}

#acc_cel .centro .c2 table
{
    width: 100%;
    height: 100%;
}

#acc_cel .centro .c2 table td
{
    text-align: center;
}



#acc_cel .centro .c2 table input[type = "number"],#acc_cel .centro .c2 table input[type = "text"]
{
    width: 100px;
    height: 25px;
    padding-left: 20px;
    background-color: white;
    border: 1px solid black;
    border-radius: 30px;
}

#acc_cel .centro .c2 table .grupo_cod
{
    width: 100px;
    height: 25px;
    padding-left: 20px;
    background-color: white;
    border: 1px solid black;
    border-radius: 30px;
}

/*Grupo*/

#acc_cel .centro .c2 .grupo
{
text-align: center;
padding: 0px;
border-radius: 10px;
border: 1px solid black;
height: 140px;
width: 400px;
float: inline-end;
}

#acc_cel .centro .c2 table
{
    width: 100%;
    height: 100%;
}

#acc_cel .centro .c2 table td
{
    text-align: center;
}



#acc_cel .centro .c2 table input[type = "number"]
{
    width: 100px;
    height: 25px;
    padding-left: 20px;
    background-color: white;
    border: 1px solid black;
    border-radius: 30px;
}

#acc_cel .centro .c3
{
position: relative;
top: 0;
left: 0;
width: calc(100% - padding);
height: calc(100% - 420px);
background-color: rgba(0, 0, 0, 0.1);
padding-left: 35px;
padding-right: 35px;
}

#acc_cel .centro .c3 button
{
width: 150px;
height: 50px;
border-radius: 30px;
border: 1px solid black;
background-color:white;
}

#acc_cel .centro .c3 button:hover
{
background-color:rgba(0, 0, 0,0.1);
cursor: pointer;
}