#usuarios_ingreso .centro
{
position: absolute;
justify-content: center;
align-items: center;
width: 1200px;
height: 300px;
background-color: white;
border-radius: 5px;
}

#usuarios_ingreso .centro .c1
{
position: relative;
top: 0;
left: 0;
width: 100%;
height: 50px;
padding-top:1px;
}

#usuarios_ingreso .centro .c1 button
{
float: inline-end;
height: 32px;
width: 32px;
margin-top: 10px;
margin-right: 10px;
background-color: rgb(233, 0, 0);
border: 0px;
color: white;
}



#usuarios_ingreso .centro .c1 button:hover
{
cursor: pointer;
background-color: rgb(134, 0, 0);
}

#usuarios_ingreso .centro .c2
{
position: relative;
top: 0;
left: 0;
width: calc(100% - padding);
height: calc(100% - 120px);
background-color: rgb(0, 0, 0,0.1);
padding-left: 35px;
padding-right: 35px;
padding-top: 10px;
}


#usuarios_ingreso .centro .c2 button
{
    width: 200px;
    height: 40px;
    float: inline-start;
    border-radius: 30px;
    border: 1px solid black;
    background-color: white;
}

#usuarios_ingreso .centro .c2 button:hover
{
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

#usuarios_ingreso .centro .c2 input[type="text"],#usuarios_ingreso .centro .c2 select, #usuarios_ingreso .centro .c2 input[type="password"]
{
    margin:0px;
    width: 265px;
    height: 40px;
    border-radius: 50px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 15px;
    border: 1px solid black;
    margin-bottom: 10px;
    background-color: white;

}

#usuarios_ingreso .centro .c3
{
    background-color: rgba(0, 0, 0, 0.1);
    width: calc(100% - 70px);
    height: 50px;
    padding-right: 35px;
    padding-left: 35px;
    padding-top: 5px;
}

#usuarios_ingreso .centro .c3 button
{
    margin:0px;
    width: 220px;
    height: 40px;
    border-radius: 10px;
    font-size: 15px;
    border: 1px solid black;
    margin-bottom: 10px;
    background-color: white;
}

#usuarios_ingreso .centro .c3 button:hover
{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
}