#vi .centro
{
    position: absolute;
    justify-content: center;
    align-items: center;
width: 1300px;
height: 600px;
background-color: white;
border-radius: 5px;
}

#vi .centro .c1
{
position: relative;
top: 0;
left: 0;
width: 100%;
height: 50px;
padding-top:1px;
}

#vi .centro .c1 button
{
float: inline-end;
height: 32px;
width: 32px;
margin-top: 10px;
margin-right: 10px;
background-color: rgb(233, 0, 0);
border: 0px;
color: white;
}

#vi .centro .c1 button:hover
{
cursor: pointer;
background-color: rgb(134, 0, 0);
}

#vi .centro .c2
{
position: relative;
top: 0;
left: 0;
width: calc(100% - padding);
height: 110px;
background-color: rgba(0, 0, 0, 0.1);
padding-left: 35px;
padding-right: 35px;
padding-top: 10px;
}


#vi .c2 table
{
    width: 100%;
}

#vi .c2 table td
{
    padding-left: 20px;
}

#vi .centro .c3
{
position: relative;
top: 0;
left: 0;
width: calc(100% - padding);
height: calc(100% - 250px);
background-color: rgba(0, 0, 0, 0.1);
padding-left: 35px;
padding-right: 35px;
padding-top: 10px;
}


#vi input[type="text"],#vi input[type="date"], #vi select, #vi input[type = "number"]
{
    margin:0px;
    float: inline-start;
    width: 330px;
    height: 40px;
    border-radius: 50px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    border: 1px solid black;
    margin-bottom: 10px;
    margin-right: 35px;
    
    background-color: white;
}


#vi select
{
    margin:0px;
    float: inline-start;
    width: 350px;
    height: 40px;
    border-radius: 50px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    border: 1px solid black;
    margin-bottom: 10px;
    margin-right: 35px;
    background-color: white;
}

#vi .centro .c3 input[type="text"],#vi .centro .c3 input[type="date"]
{
    margin:0px;
    float: inline-start;
    width: 135px;
    height: 40px;
    border-radius: 50px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 15px;
    border: 1px solid black;
    margin-bottom: 10px;
    margin-right: 10px;
}




#vi fieldset
{
    margin:0px;
    float: inline-start;
    width: 400px;
    height: 30px;
    border-radius: 50px;
    padding: 0px;

    padding-top: 10px;
    font-size: 15px;
    border: 1px solid black;
    text-align: center;
}

#vi .centro .c3 #id_direccion
{
    margin:0px;
    float: left;
    width: 100%;
    height: 80px;
    border-radius: 50px;
    padding: 0px;

    padding-top: 10px;
    font-size: 15px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
}

#vi .centro .c3 button
{
    width: 150px;
    height: 20px;
    border-radius: 0px;
    border: 1px solid black;
    background-color: white;
    float: inline-start;
}

#vi .centro .c3 button:hover
{
    background-color: rgb(160, 160, 160);
    cursor: pointer;
}

#vi .centro .c3 .cabezal_villa
{
    width: 500px;
    height: 50px;
    float: inline-start;
    border-radius: 30px;
    border: 1px solid black;
    padding: 0px;
    margin-left: 160px;
}

#vi .centro .c3 .cabezal_villa table
{
    width: 100%;
    height: 100%;
}



#vi .centro .c3 .mas_detalle
{
    margin-top: 10px;
    width: 590px;
    height: 230px;
    
    border-radius: 5px;
}

#vi .centro .c3 .mas_detalle table
{
    width: 100%;
}

#vi .centro .c3 #cara table td
{
width: 33%;
}

#vi .centro .c3 #tama td:nth-child(1)
{
    width: 130px;
}

#vi .centro .c3 #tama td:nth-child(2),#vi .centro .c3 #tama td:nth-child(4)
{
width: 110px;
text-align: start;
}

#vi #a_c
{
    height: 40px;
}


#vi .centro .c3 #observa
{
float: inline-end;
margin-right: 0px;
}

#vi .centro .c3 textarea
{
    resize: none;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    padding: 10px;
}

#vi .centro #agre_confirmar
{
    width: 200px;
    height: 50px;
    border-radius: 30px;
    border: 1px solid black;
    background-color: white;
    
    margin-top: 10px;
}

#vi .centro #agre_cance
{
    width: 200px;
    height: 50px;
    border-radius: 30px;
    border: 1px solid black;
    background-color: white;
    margin-right: 40px;
    margin-top: 10px;
    float: inline-end;
}

#vi .centro .c3 #ta_cara
{
padding: 0px;
width: 100%;
height: calc(100% - 28px);
overflow: auto;
background-color: white;
}

.ta_ca_cont
{
    border-collapse: collapse;
    width: 10px;
}



.ta_ca_cont th
{
    background-color: rgb(97, 97, 97);
    height: 30px;
    color: white;
    position: sticky;
    top: 0px;
}

#agregar_c
{
    width: 10px;
    height: 20px;
    padding: 0px;
    border-radius: 0px;
}


.ta_ca_cont td
{

height: 30px;

}

.ta_ca_cont td .txt_carate
{
border-radius: 0px;
}

.ta_ca_cont tr:nth-child(even) td
{
    background-color: rgb(194, 193, 193);
}

.ta_ca_cont td:nth-child(1)
{
padding-top: 5px;
padding-bottom: 0px;
}

.ta_ca_cont th:nth-child(1)
{
padding-top: 5px;
padding-bottom: 0px;
width: 400px;
}



#cara #eli_carac
{
    width: 150px;
    height: 32px;
    padding-top: 5px;
    padding-left: 5px;
    border-radius: 5px;
    background-color: rgb(255, 106, 106);
    border: 1px solid rgb(187, 0, 0);
}

#cara #modi_carac
{
    width: 32px;
    height: 32px;
    padding-top: 5px;
    padding-left: 5px;
    border-radius: 5px;
    background-color: rgb(148, 255, 106);
    border: 1px solid rgb(53, 187, 0);
}

#cara #modi_carac img,#cara #eli_carac img
{
    width: 20px;
    height: 20px;
}

#vi .centro .c4
{
    width: 100%;
    padding-left: 20px;
    padding-bottom: 10px;
    background-color: rgba(0, 0, 0, .1);
}

#vi .centro .c3 #ta_cara input[type="text"]
{
    border-radius: 0px;
    padding: 0px;
    text-align: center;
    height: 30px;
    width: 400px;
}