#pro .centro
{
position: absolute;

justify-content: center;
align-items: center;
width: 1300px;
height: 600px;
background-color: white;
border-radius: 5px;
}

#pro .centro .c1
{
position: relative;
top: 0;
left: 0;
width: 100%;
height: 50px;
padding-top:1px;
}

#pro .centro .c1 button
{
float: inline-end;
height: 32px;
width: 32px;
margin-top: 10px;
margin-right: 10px;
background-color: rgb(233, 0, 0);
border: 0px;
color: white;
}

#pro .centro .c1 button:hover
{
cursor: pointer;
background-color: rgb(134, 0, 0);
}

#pro .centro .c2
{
position: relative;
top: 0;
left: 0;
width: calc(100% - padding);
height: 160px;
background-color: rgba(0, 0, 0, 0.1);
padding-left: 35px;
padding-top: 10px;
}

#pro .centro .c3
{
position: relative;
top: 0;
left: 0;
width: calc(100% - padding);
height: 390px;
background-color: rgba(0, 0, 0, 0.1);
padding-left: 35px;
padding-top: 10px;
}

#pro .c2 table
{
    display: block;
    border-collapse: collapse;
    
}

#pro .c2 table td
{
    border-collapse: collapse;
    border: none;
    width: 350px;
    height: 45px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;

}

#pro .c2 table td div
{
    width: 100%;
    height: 100px;
    background-color: white;
    border: 1px solid grey;
    
}

#pro .c2 table td div .numeros
{
    height: 100px;
    background-color: rgb(255, 255, 255);
    overflow: auto;
}

#pro .c2 table td div .numeros th
{
    width: 400px;
    height: 20px;
    background-color: rgb(117, 117, 117);
    color: white;
    position: sticky;
    top: 0px;
}

#pro .c2 table td div .numeros td
{
height: 30px;
padding: 0px;
border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#pro .c2 table td div .numeros tr:hover
{
    background: #f19858;
    cursor: pointer;
}

#pro .c2 table td div .numeros td:nth-child(2)
{
    width: 40px;
}

#pro .c2 table td div .numeros td .accion_tel
{
    width: 32px;
    height: 32px;
    padding-top: 5px;
    padding-left: 5px;
    border-radius: 5px;
    background-color: rgb(255, 106, 106);
    border: 1px solid rgb(187, 0, 0);
}

#pro .c2 table td div .numeros td .accion_tel img
{
    width: 20px;
    height: 20px;
    
}

#pro .c2 table td div .numeros td .accion_tel:hover
{
    background-color: rgb(190, 190, 190);
}

#pro .c2 table td div .numeros tr:nth-child(even) td
{
    background-color: rgba(0, 0, 0, 0.1);
}

#pro .c2 table td div .numeros .agre_tele
{
    height: 20px;
    width: 100px;
    padding: 0;
    float: inline-end;
    border-radius: 0px;
}


#pro input[type="text"],#pro input[type="date"], #pro fieldset
{
    margin:0px;
    float: inline-start;
    width: 290px;
    height: 40px;
    border-radius: 50px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 15px;
    border: 1px solid black;
}

#pro fieldset
{
    margin:0px;
    float: inline-start;
    width: 390px;
    height: 30px;
    border-radius: 50px;
    padding: 0px;

    padding-top: 10px;
    font-size: 15px;
    border: 1px solid black;
    text-align: center;
}

#pro .centro .c2 button
{
    width: 200px;
    height: 40px;
    border-radius: 30px;
    border: 1px solid black;
    background-color: white;
}

#pro .centro .c2 button:hover
{
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

#pro .centro .c2 .cabezal_villa
{
    width: 400px;
    height: 40px;
    float: inline-start;
    border-radius: 30px;
    border: 1px solid black;
    padding: 0px;
}

#pro .centro .c2 fieldset #cabezal
{
border: none;
}

#pro .centro .c3 #id_direccion
{
    margin-top: 10px;
    width: calc(100% - 70px);
    height: 40px;
    border-radius: 5px;
    padding: 10px;
}

#pro .centro .c3 .mas_detalle
{
    margin-top: 10px;
    width: 47.2%;
    height: calc(100% - 220px);
    margin-right: 20px;
    border-radius: 5px;
}

#pro .centro .c3 textarea
{
    resize: none;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    padding: 10px;
}

#pro .centro #agre_confirmar
{
    width: 200px;
    height: 50px;
    border-radius: 30px;
    border: 1px solid black;
    background-color: white;
    
    margin-top: 30px;
}

#pro .centro #agre_confirmar:hover
{
    
    background-color: rgba(0, 0, 0, 0.1);
}

#pro .centro #agre_cance
{
    width: 200px;
    height: 50px;
    border-radius: 30px;
    border: 1px solid black;
    background-color: white;
    margin-right: 40px;
    margin-top: 30px;
    float: inline-end;
}

#pro .centro #agre_cance:hover
{
    
    background-color: rgb(201, 1, 1);
    color: white;
}