h1
{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

h2
{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}


#cuerpo_pagina
{
    position: fixed;
    top: 0;
    left: 95px;
    width: calc(100% - 95px);
    height: 100%;
    overflow: auto;
    z-index: -1;
    padding: 0px;
}

#cuerpo_pagina .m_archivo,#cuerpo_pagina .m_expo,#cuerpo_pagina .m_reporte,#cuerpo_pagina .m_agregar
{
    background-color: #eea36e;
    height: 50px;
    margin-left: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-left: 0px;
}

#cuerpo_pagina .m_archivo ul,#cuerpo_pagina .m_expo ul,#cuerpo_pagina .m_reporte ul,#cuerpo_pagina .m_agregar ul
{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;

}

#cuerpo_pagina .m_archivo ul li,#cuerpo_pagina .m_expo ul li,#cuerpo_pagina .m_reporte ul li,#cuerpo_pagina .m_agregar ul li
{
    width: 200px; 
    height: 50px; 
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 0px;
    border-right: 1px solid rgb(250, 171, 114);
}

img
{
    margin-right: 10px;
    width: 32px;
    height: 32px;
}


#cuerpo_pagina #ver_cuadros
{
    
    margin:0px;
    margin-top: 10px;
    overflow: auto;

}

#cuerpo_pagina #concentrar_tablas
{  
    margin:0px;
    margin-top: 10px;
    overflow: auto;
    background-color: #eea36e;
    height: 100%;

}

#cuerpo_pagina #ver_cuadros input[type="radio"]
{
    margin:0px;
    float: inline-start;
    margin-right: 10px;
}

#cuerpo_pagina #ver_cuadros input[type="text"]
{
    margin:0px;
    float: inline-start;
    width: 500px;
    height: 40px;
    border-radius: 50px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 15px;
    border: 1px solid black;
}

#cuerpo_pagina #ver_cuadros select
{
    width: 200px;
    height: 40px;
    border-radius: 30px;
    border: 1px solid black;
    background-color: white;
    text-align: center;
}

#cuerpo_pagina #ver_cuadros button
{
    width: 200px;
    height: 40px;
    border-radius: 30px;
    border: 1px solid black;
    background-color: white;
    text-align: center;
}

#cuerpo_pagina #ver_cuadros button:hover
{
background-color: rgb(202, 202, 202);
cursor: pointer;
}

#cuerpo_pagina #ver_cuadros table
{
height: 100%;
width: 100%;
}

#cuerpo_pagina #ver_cuadros table td
{
    
}

#cuerpo_pagina #ver_cuadros table td:nth-child(3)
{
    text-align: end;
}

#cuerpo_pagina #ver_cuadros table td:nth-child(4)
{
    text-align: end;
}

#cuerpo_pagina #ver_cuadros table td:nth-child(2)
{
    text-align: center;
}

#protector
{
    display: none;
}

#cuerpo_pagina .fijo
{
    position: sticky;
    padding: 0px;
    margin: 0px;
    top: 0;
    left: 0px;
    z-index: 9999;
    background-color: #e6e3e3;
    width: 100%;

}