/*Tabla principal*/

.pagos td
{
border: 1px solid black;
font-size: 20px;
font-weight: bold;
}

.ordenar_movimiento td
{
border: 1px solid black;
}

.pri
{
    width: 40%;
    color: white;
    background-color: black;
}

.seg
{
    text-align: end;
}

.tabla_principal
{
border: 2px solid #7c7c7c;
width: 70%;
overflow: auto;
}

.tabla_primaria
{
border: 2px solid #7c7c7c;
width: 100%;
height: 75vh;
overflow: auto;
}

.tabla_caracteristica
{
    border: 1px solid chocolate;
}

.tabla_caracteristica:hover
{
    background-color: salmon;
    cursor: pointer;
}

/*atributos de la pagina*/
.cuerpo
{
    margin-left: 200px;
    
}

.centro
{
font-family: lato,'Courier New', Courier, monospace;
font-size: 30px;
text-align: center;

}

.centrados
{
margin-top: -20px;
font-family: lato,'Courier New', Courier, monospace;
font-size: 20px;
text-align: center;
}



.menu_2
{
    position: fixed;
    width: 50px;
    height:50px;
    border-radius: 100%;
    margin-left: 105px;
    margin-top: 10px;
    border: 0px;
    background-color: rgb(240, 157, 98);
    padding: 0px;

}

a
{
font-family: Arial, Helvetica, sans-serif;
}

#p_busca
{
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 600px;
    padding: 10px;
    border-bottom: 1px solid black;
    font-size: 18px;
}



label
{
    font-family: Arial, Helvetica, sans-serif; 
}



.grupo_busqueda
{
   text-align: center;
}

button
{
    width: 150px;
    padding: 15px;
    border: 1px solid rgb(185, 185, 185);
    border-radius: 10px;
    background-color: white;
}

.registrar
{
    width: 150px;
    padding: 15px;
    height: 60px;
    border: 2px solid #329e00;
    background-color: #aeff88;
    border-radius: 10px;
    font-weight: bold;
    float: inline-start;
}

.con
{
    width: 150px;
    padding: 15px;
    height: 60px;
    border: 2px solid #329e00;
    background-color: #aeff88;
    border-radius: 10px;
    font-weight: bold;
}

.can
{
    width: 150px;
    padding: 15px;
    height: 60px;
    border: 2px solid #9e0000;
    background-color: #ff8888;
    border-radius: 10px;
    font-weight: bold;
    float: inline-end;
}

.regis_accion
{
    width: 80px;
    height: 80px;
    border: 1px solid #585858;
    background-color: #e9e9e9;
    border-radius: 10px;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    padding: 0px;
    float: left;
}

.regis_accion_movi
{
    margin-right: 10px;
    width: 100px;
}

.confirma
{
    
    width: 150px;
    padding: 15px;
    height: 60px;
    border: 2px solid #329e00;
    background-color: #aeff88;
    border-radius: 10px;
}
.cancelar
{
    margin-top: 15px;
    width: 150px;
    padding: 15px;
    height: 60px;
    border: 2px solid #9e0000;
    background-color: #ff8888;
    border-radius: 10px;
}



.borrar
{
    border: 1px solid #9e0000;
    background-color: #ff8888;
    float: left;
}



button:hover
{background-color: #c4c4c4;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.btn_nueva_moneda
{
    float: left;
}

.crea
{
    margin-right: 20px;
}

.logo
{
    align-items: center;
    width: 150px;
    height: 150px;
}

.t_l
{
    border-bottom: 1px rgb(209, 133, 79);
}

input[type="text"],input[type="date"],input[type="number"],input[type="password"]
{

    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;

    font-family: Arial, Helvetica, sans-serif;
    resize: none;
    outline: none;
    margin-bottom: 10px;
    width: 250px;
    height: 20px;
    padding: 10px;
    border-bottom: 1px solid black;
    background-color: transparent;
    text-align: center;
    font-size: 15px;
    
}

textarea
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
}




input[type="number"]
{

    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;

    font-family: Arial, Helvetica, sans-serif;
    resize: none;
    outline: none;
    margin-bottom: 10px;
    width: 92%;
    height: 20px;
    padding: 10px;
    border-bottom: 1px solid black;
    background-color: transparent;
    
}



#txt_descripcion_v
{



    font-family: Arial, Helvetica, sans-serif;
    resize: none;
    outline: none;
    margin-bottom: 10px;
    width: 250px;
    height: 20px;
    padding: 10px;
    border: 2px solid black;
    
}

input[type="radio"]
{
    margin-top: 10px;
    margin-bottom: 10px;
}



select
{
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;

    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    padding: 10px;
    width: 275px;
    background-color: transparent;
}



/*menu horizontal*/

.divicion
{
    background: linear-gradient(to left,#ffeb9c, rgb(240, 157, 98));

width: 100%;
height: 10px;
padding: 0px;

list-style-type: none;
}

.menu
{
    display: none;
}

.menu ul
{
background: linear-gradient(to left,#ffeb9c, rgb(240, 157, 98));

width: 100%;
padding: 0px;
border-top-left-radius: 15px;
border-bottom-left-radius: 15px;
overflow: hidden;
list-style-type: none;
}

.menu ul li
{
float: left;
width: 150px;
}

.menu ul li a:hover
{
background-color: #555;
color: yellow;
}

.menu ul li a
{
border-right: 1px solid chocolate;
padding: 10px;
display: block;
text-decoration: none;
}


.menu li a
{
color: black;
}
/*menu vertical*/
.menu2 {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%; 
    width: 200px; 
    background: linear-gradient(to top,#ffeb9c, rgb(218, 132, 71));
    color: rgb(228, 228, 228); 
    text-align: center;
  }
  
  .menu2 ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .menu2 li {
    padding: 0px;
    
  }
  
  .menu2 a {
    color: black;
    text-decoration: none;
  }
  


  .menu2 ul li a
{
padding: 15px;
display: block;
text-decoration: none;
border-top: 1px solid rgb(209, 133, 79);
}

.imagen
{
    width: 32px;
    height: 32px;
}

.tab_menu
{
    height: 100%;
}

.te_menu2
{
text-align: start;
padding-left: 10px;
padding-top: 5%;
display: inline-block;
}

/*cuadro marcado por mostrar ventana*/

.marcado a
{
    border-left: 3px solid red;
    background-color: #555; 
    color: yellow;
}

/*Atributos de la tabla*/
table
{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border-radius: 10px;
    width: 100%;
}

thead,th
{
    
    font-family: Arial, Helvetica, sans-serif;
    
    height: 25px;

    background-color: #555;

    color: white;

    position: static;

    
}

td
{
    font-family: Arial, Helvetica, sans-serif;
    
    height: 25px;

    text-align: center;

}

#t_carac tr:nth-child(even) td ,#tab_vi tr:nth-child(even) td ,#tabla tr:nth-child(even) td,#tabla_cliente tr:nth-child(even) td,#tabla_multi tr:nth-child(even) td,#descrip_multi tr:nth-child(even) td,.cuerpo_tabla tr:nth-child(even) td
{
    background-color: rgb(202, 201, 201);

}

#t_carac tr:nth-child(even):hover td ,#tab_vi tr:nth-child(even):hover td ,#tabla tr:nth-child(even):hover td,#tabla_cliente tr:nth-child(even):hover td,#tabla_multi tr:nth-child(even):hover td,#descrip_multi tr:nth-child(even):hover td
{
background-color: rgb(255, 183, 50); 
}


.td1
{
    background-color: white;
}

.td2
{
    background-color: rgb(206, 205, 205);
}


.contenido:hover
{
    background-color: rgb(255, 183, 50); 
    color: black;
}

.tabla_herramienta td
{
    font-family: Arial, Helvetica, sans-serif;
    border: 0;
    height: 190px;
    width: 190px; 
    text-align: center;
}

/*Ventana emergente*/

.mod
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0,0,.6);
    display: none;
    justify-content: center;
    align-items: center;
}

.mod_contenido
{
    background-color: #b9af83;
    margin: 0% auto;
    padding: 2%;
    border: 2px solid #ffeb9c;
    border-radius: 20px;
    width: 90%;
    height: 90%;
}

.mod_contenido_editar
{
    background-color:rgb(228, 228, 228);
    padding: 10px;
    border: 2px solid #7c7c7c;
    border-radius: 20px;
    width: 400px;
    height: 220px;
}

.mod_contenido_suspender
{
    background-color: rgb(253, 186, 186);
    margin: 0% auto;
    margin-top: 10%;
    padding: 10px;
    border: 2px solid #ffeb9c;
    border-radius: 20px;
    width: 400px;
    height: 300px;
}

/*Ventana de ingreso*/
.mod_ingreso
{
    background-color:rgb(228, 228, 228);
    padding: 10px;
    border: 2px solid #7c7c7c;
    border-radius: 20px;
    width: 920px;
    height: 320px;
}

/*ventana de venta*/
.mod_venta
{
    background-color:rgb(228, 228, 228);
    border: 2px solid #7c7c7c;
    border-radius: 10px;
    padding: 10px;
    width: 770px;
    height: 95%;
}

.mod_moviliario
{
    background-color:rgb(228, 228, 228);
    border: 2px solid #7c7c7c;
    border-radius: 10px;
    padding: 10px;
    width: 95%;
    height: 550px;
}

.mod_reimprimir
{
    background-color:rgb(228, 228, 228);
    border: 2px solid #7c7c7c;
    border-radius: 10px;
    padding: 10px;
    width: 95%;
    height: 600px;
}

.mod_ingreso_moneda
{
    background-color:rgb(228, 228, 228);
    border: 2px solid #7c7c7c;
    border-radius: 10px;
    padding: 10px;
    width: 625px;
    height: 180px;
}

.mod_inser_con
{
    background-color:rgb(228, 228, 228);
    border: 2px solid #7c7c7c;
    border-radius: 10px;
    padding: 10px;
    width: 450px;
    height: 250px;
}

.movi
{
    background-color:rgb(228, 228, 228);
    border: 2px solid #7c7c7c;
    border-radius: 10px;
    padding: 10px;
    width: 80%;
    height: 460px;
}

.g_cuenta
{
    background-color:rgb(228, 228, 228);
    border: 2px solid #7c7c7c;
    border-radius: 10px;
    padding: 10px;
    width: 80%;
    height: 500px;
}

.txt_d
{
    text-align: center;
    font-size: 20px;
}

.r_saldo
{
    background-color:rgb(228, 228, 228);
    border: 2px solid #7c7c7c;
    border-radius: 10px;
    padding: 10px;
    width: 800px;
    height: 450px;
}

.mod_Moneda
{
    background-color:rgb(228, 228, 228);
    border: 2px solid #7c7c7c;
    border-radius: 10px;
    padding: 10px;
    width: 500px;
    height: 500px;
}

.mod_resultado
{
    background-color:rgb(228, 228, 228);
    border: 2px solid #7c7c7c;
    border-radius: 10px;
    padding: 10px;
    width: 95%;
    height: 95%;
}

.ejecutar_renta
{
    background-color:rgb(228, 228, 228);
    border: 2px solid #7c7c7c;
    border-radius: 10px;
    padding: 10px;
    width: 95%;
    height: 610px;
}

.ejecutar_inscripcion
{
    background-color:rgb(228, 228, 228);
    border: 2px solid #7c7c7c;
    border-radius: 10px;
    padding: 10px;
    width: 76%;
    height: 610px;
}

.ejecutar_caracteristica
{
    background-color:rgb(228, 228, 228);
    border: 2px solid #7c7c7c;
    border-radius: 10px;
    padding: 10px;
    width: 80%;
    height: 580px;
}

.existe
{
    background-color:rgb(228, 228, 228);
    border: 2px solid #7c7c7c;
    border-radius: 10px;
    padding: 10px;
    width: 80%;
    height: 550px;
}

.agre_carac
{
    background-color:rgb(228, 228, 228);
    border: 2px solid #7c7c7c;
    border-radius: 10px;
    padding: 10px;
    width: 850px;
    height: 500px;
}

.agre_ca
{
    background-color:rgb(228, 228, 228);
    border: 2px solid #7c7c7c;
    border-radius: 10px;
    padding: 10px;
    width: 520px;
    height: 200px;
    text-align: center;
}


/*Ventana de saleccion kll*/
.mod_seleccionar_edi_cliente
{
    background-color: rgb(228, 228, 228);
    padding: 10px;
    border: 2px solid #7c7c7c;
    border-radius: 20px;
    width: 80%;
    height: 600px;   
}

.eje_confirma
{
    background-color: rgb(255, 105, 130);
}

.mod_confirmacion
{
    background-color: rgb(228, 228, 228);

    border: 2px solid #ffeb9c;
    border-radius: 20px;
    width: 500px;
    height: 350px; 
    
}

.ejecutar
{
    background-color: rgb(228, 228, 228);
    margin: 0% auto;
    margin-top: 15%;
    padding: 10px;
    border: 2px solid #ffeb9c;
    border-radius: 20px;
    width: 600px;
    height: 150px;
}

.cuerpo_cuadros
{
    border: 2px solid #7c7c7c;
    border-radius: 10px;
    height: 410px; 
    overflow: auto;
}

.ver_villas
{

    margin-bottom: 10px;
    border: 2px solid #7c7c7c;
    width: 98%;
    height: 300px;
    overflow: auto;
}

.cerrar
{
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    margin-top: -20px;
}

.cerrar:hover
{
    color: red;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
}

fieldset
{
    margin-bottom: 10px;
    background-color: rgb(228, 228, 228);
    border: 2px solid #7c7c7c;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1%;
    border-radius: 10px;
    width: 95.5%;
    float: left;
}

.in_cli
{
    height: 80px;
}

.peque
{
    background-color: rgb(228, 228, 228);
    border: 2px solid #7c7c7c;
    border-radius: 10px;
    width: 200px;
    float: inline-end;
    text-align: center;
    padding: 0px;
}

.peque2
{
    background-color: rgb(228, 228, 228);
    border: 2px solid #7c7c7c;
    border-radius: 10px;
    width: 410px;
    height: 99px;
    float: inline-end;
    text-align: center;
    padding:0px;
}

.peque_fecha
{
    background-color: rgb(228, 228, 228);
    border: 2px solid #7c7c7c;
    border-radius: 10px;
    width: 200px;
    float: inline-end;
    text-align: center;
    padding: 0px;
}


.interior
{
    margin-bottom: 10px;
    background-color: rgb(228, 228, 228);
    border: 2px solid #b99400;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1%;
    border-radius: 10px;
    width: 45%;
    float: left;
}


legend
{
    font-family: Arial, Helvetica, sans-serif;
}

.precio_ver
{   font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    width:92%;
    padding: 10px;
    border-bottom: 2px solid black;
    display: inline-block;
}

.ver_saldo
{   font-family: Arial, Helvetica, sans-serif;
    border-bottom: 2px solid black;
    margin-top: 50px;
    display: inline-block;
}

#cbx_mt_pago
{   font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    width:98%;
    padding: 10px;
    border-bottom : 2px solid black;
    
    display: inline-block;
    background-color: transparent;
}

.total_pago
{
    background-color: rgb(228, 228, 228);
    border: 2px solid #b99400;
    border-radius: 10px;
    padding: 10px;
    width: 275px;
    float: left;
}

/*Solo activar cuando se ordena*/
.fondo_emergente tr td
{
    border: 0px solid chocolate;
}

.mini
{
    height: 70px;
    padding: 5px;
    text-align: center;
    
    margin-right: 10px;
}


.ajuste_cuado
{
    border: 0px solid chocolate;
    margin-right: 20px;
    float: left;
}

.muestra tr:nth-child(even) td {
    background-color: rgb(255, 255, 255);
}

.muestra tr:nth-child(even):hover td {
    background-color: rgb(255, 183, 50); 
}

.b_t_villa tr td:hover
{
    background-color: chocolate;
}


/*Estilo de los botones en herramienta*/
.E_herramienta
{
    padding: 20px;
    margin: 0 auto;
    margin-top: 20px;
    width: 600px;
    height: 200px;
    border:2px solid gray;
    background-color: rgb(228, 228, 228);
    border-radius: 50px;
}


.f_boton
{
    margin: 0% auto;
    border: 2px solid #7c7c7c;
    border-radius: 10px;
    width: 150px;
    height: 150px;
    background-color: white;
    cursor: pointer;
}

.f_boton:hover
{
    background-color:rgb(255, 183, 50);
}

.im_ico
{
    margin-top: 35px;
}


.mod_ingreso_villa
{
    background-color:rgb(228, 228, 228);
    padding: 10px;
    border: 2px solid #7c7c7c;
    border-radius: 20px;
    width: 10px;
    height: 10px;
}

.orden tr td
{
vertical-align: top;
border: 2px solid #7c7c7c;
width: 10px;
}

.cuadro_villa
{
    overflow: auto;
    width: 90%;
    height: 200px; 
    border: 1px solid chocolate; 
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 10px;
}


form
{
    margin-bottom: 10px;
}

.titulo
{
    border: 2px solid #7c7c7c;
    border-radius: 10px;
    background-color: rgb(228, 228, 228);
    font-size: 20px;
    padding: 5px;
    text-align: center;
}

input[type="checkbox"]
{
width: 20px;
height: 20px;
}
.espacio
{
    margin-left: 10px;
}

.ajuste_villa
{
    width: 80%;
    height: 400px;
    float: left;
}

.tama_izquierda
{
width: 30%;
text-align: left;
padding-left:50px ;
}

.tama_derecha
{
width: 70%;
text-align: left;
}

.ta_f_villas
{
    width: 100%;
    height: 60px;
    text-align: center;
}

.ta_f_grupo
{
    width: 95%;
    height: 50px;
    text-align: center;
}

.ta_f_medidas
{
    width: 341px;
    height: 80px;
    text-align: center;
}

html body
{
    background-color:#e4e4e4;
    overflow: hidden;
    font-size: 16px;
}

.dimencion td
{

text-align: center;
width: 25%;
}

.dimencione
{
float: inline-end;
width: 99%;
height: 100%;
padding: 0px;
margin: 0px;
text-align: center;
}

.villa_nueva
{
    background-color:rgb(228, 228, 228);
    border: 2px solid #7c7c7c;
    border-radius: 10px;
    padding: 10px;
    width: 95%;
    height: 440px;
}

.boton_agre_ca
{
    height: 30px;
    padding-top: 5px;
}

.grupos_inser_villa
{
    width: 49%;
    height: 310px;
    float: left;
    padding: 0px;
    border: 0px;
}

.mod_nuevo
{

width: 50px;
height: 50px;
}

.botones_multipagos
{
    margin-right: 10px;
    width: 100px;
}

.tabla_movi td
{
width: 50%;
}

.botones_generar
{
    margin-right: 10px;
}

.datos_b_sal
{
height: 100%;
}

.dat_saldo
{
    text-align: center;
    height: 130px;

}

.cuerpo_tabla
{
    border: 1px solid gray;
    width: 100%;
   height: 150px;
   overflow: auto;
}

.mod_saldos
{
    background-color:rgb(228, 228, 228);
    padding: 10px;
    border: 2px solid #7c7c7c;
    border-radius: 20px;
    width: 920px;
    height: 540px;
    
}