

#cuerpo_pagina #tabla_contenido_villa,#cuerpo_pagina  #tabla_contenido_propi
{
    position: relative;
    top: 0;
    margin:0px;
    margin-top: 10px;
    overflow: auto;
    background-color: white;
    padding: 0px;
    width: 100%;
    height: calc(100% - 235px);
}

#cuerpo_pagina #tabla_contenido_villa table,#cuerpo_pagina #tabla_contenido_propi table
{

width: 100%;
height: 100%;
border-collapse: collapse;
overflow: auto;

}

#tabla_contenido_villa table th, #tabla_contenido_propi table th
{
    background-color: rgb(97, 97, 97);
    height: 30px;
    color: white;
    position: sticky;
    top: 0;
}

#tabla_contenido_villa table td, #tabla_contenido_propi table td
{
text-align: center;
height: 30px;
font-weight: normal;
}

#tabla_contenido_villa table tr:nth-child(even) td, #tabla_contenido_propi table tr:nth-child(even) td
{
    background-color: rgb(194, 193, 193);
}

#tabla_contenido_villa table tbody tr:hover,#tabla_contenido_villa table tbody tr:nth-child(even):hover td
{
   background-color: rgb(255, 165, 0);
   cursor: pointer;
}

#tabla_contenido_propi table tbody tr:hover,#tabla_contenido_propi table tbody tr:nth-child(even):hover td
{
   background-color: rgb(255, 165, 0);
   cursor: pointer;
}

#tabla_contenido_villa
{
    display: none;
}

#ver_cuadros table tr #lis_vi_cu,#ver_cuadros table tr #lis_pro_cu
{
    cursor: pointer;

}

#cuerpo_pagina #tabla_contenido_villa table td,#cuerpo_pagina  #tabla_contenido_propi table td
{
    border-left: 1px solid rgb(97, 97, 97);
    border-right: 1px solid rgb(97, 97, 97);
}

