#menu_lateral
{
position: fixed;    
top: 0;
left: 0;
height: 100%;
width: 90px;
background: #778aff;
text-align: center;
overflow: auto;
}


#menu_lateral #logo
{
    position: absolute;
    top: 45px;
    left: 0px;
    width: 80px;
    height: 80px;
}



#menu_lateral ul
{
position: relative;
top: 180px;
list-style: none;
padding: 0px;
margin: 0px;
}


#menu_lateral ul li
{
display: flex;
align-items: center;
justify-content: left;
padding: 0px;

height: 60px;
flex-direction: column;
padding-left: 25%;
}


#menu_lateral ul #li_0
{
    border-left: 5px solid #3745a0;
}

#encojer_menu
{
    position: fixed;
    top: 5px;
    left: 95px;
    background-color: #778aff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

#encojer_menu img
{
    margin-top: 2.4px;
    margin-left: 2.4px;
    width: 80%;
    height: auto;
}

li
{
padding-top: 10px;
}

li:hover,#encojer_menu:hover, #cuerpo_pagina div div ul li:hover
{
    cursor: pointer;
    background: #586ef1;
}



#protector
{
    position: fixed;
    top: 0;
    left: 200px;
    width: calc(100% - 200px);
    height: 100%;
    background-color: rgba(0, 0, 0,0.5);
}

#m_2,#m_1
{
    display: none;
}