#menu_lateral
{
position: fixed;    
top: 0;
left: 0;
height: 100%;
width: 90px;
background: linear-gradient(to top,#ffeb9c, #da8447);
text-align: center;
overflow: auto;
}

#menu_lateral #logo
{
    position: absolute;
    top: 45px;
    left: 0px;
    width: 80px;
    height: 80px;
}



#menu_lateral ul
{
position: relative;
top: 180px;
list-style: none;
padding: 0px;
margin: 0px;
}


#menu_lateral ul li #icono
{
margin-left: 20px;    
width: 32px;
height: 32px;
}

#menu_lateral ul li
{
height: 60px;
}


#encojer_menu
{
    position: fixed;
    top: 5px;
    left: 205px;
    background-color: #da8447;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    align-items: center;
}

#encojer_menu img
{
    margin-top: 10px;
    margin-left: 10px;
    width: 30px;
    height: 30px;
}

li
{
padding-top: 10px;
}

li:hover,#encojer_menu:hover, .menu_horizontal ul li:hover 
{
    cursor: pointer;
    background-color: rgba(252, 0, 0, 0.2);
}

.menu_horizontal
{
    position: relative;
    margin-left: 95px;
    background: linear-gradient(to left, #ffeb9c, #da8447);
    z-index: -1;
    height: 50px;
    align-items: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.menu_horizontal button
{
    border-radius: 0px;
    border: 0px;
    height: 50px;
    margin-left: 10px;
    width: 100px;
    background-color: white;
}

