html body 
{
    background-color: #e6e3e3;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    overflow: auto;
}

button
{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}


::-webkit-scrollbar
{
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track
{
    background: #e6e3e3;
}

::-webkit-scrollbar-thumb
{
    background: #da8447;
    border-radius: 6px;
}