html body
{
    background-color: #e6e3e3;
    font-family: Arial, Helvetica, sans-serif;
    overflow: auto;
}

::-webkit-scrollbar
{
    width: 10px;
}

::-webkit-scrollbar-track
{
    background: #e6e3e3;
}

::-webkit-scrollbar-thumb
{
    background: #da8447;
    border-radius: 6px;
}