
.perfil
{
    
    position: fixed;
    right: 50px;
    top: 35px;
    background-color: #e6e6e6;
    border: 1px solid gray;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    float: inline-end;
    padding: 0px;
    text-align: center;


}

.ajuste
{
    position: fixed;
    right: 120px;
    top: 35px;
    background-color: #e6e6e6;
    border: 1px solid gray;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    float: inline-end;
    padding: 0px;
    text-align: center;
}

.perfil:hover,.ajuste:hover
{
    background-color: #b9b9b9;
    cursor: pointer;
}

.b_principal
{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border: 1px solid grey;
}

.cuerpo_inicio,.cuerpo_perfiles,.cuerpo_ajustes
{
    border: 1px solid grey;
    height: 600px;
    padding: 10px;
    display: none;
}
.cuerpo_perfiles
{
    text-align: center;
}

.formato_perfiles
{
    background-color: white;
    width: 340px;
    height: 280px;
    float: left;
    border: 2px solid grey;
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 10px;
    text-align: center;
}

.per_usuarios
{
    position: relative;
    left: 32%;
    top: 0px;

    border: 1px solid grey;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    padding: 0px;
}

.b_t_perfiles td:nth-child(1)
{
    height: 40px;
    width: 50px;
}

.confi_perfiles
{
    
    position: relative;
    left: 300px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 0px;
    margin-bottom: -40px;
    
}

.confi_perfiles:hover
{
    cursor: pointer;
}

.mod_agre_usuaro
{
    width: 900px;

    text-align: center;
}

.alinear_titulo td:nth-child(1),.alinear_titulo td:nth-child(3)
{
    text-align: right;
}