.centro
{
    background-color: #ffffff;
}

.c1
{
    background-color: #b4b4b4;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.c1 h2
{
    flex-grow: 1;
    text-align: center;
}

.c1 button
{
width: 40px;
height: 40px;
margin-right: 10px;
}


/*Bontes de las tablas*/

table td button
{
    display: flex;
    width: 35px;
    height: 35px;
}


button img
{
    color: white;
    max-height: 100%;
    max-width: 100%;
    fill: white;
}


.editar_usuario
{
    background-color: #01b601;
    border: 1px solid #007900;
    border-radius: 5px;
    cursor: pointer;
}

.accion_tel
{
    background-color: #b60101;
    border: 1px solid #790000;
    border-radius: 5px;
    cursor: pointer;
}

/*Aspecto de las tablas*/

.contenido_tabla
{
background-color: white;
overflow: auto;
}

.contenido_tabla table
{
    width: 100%;
    border-collapse: collapse;
}

.contenido_tabla table th
{
background-color: #b4b4b4;
border: 1px solid #9b9b9b;
height: 30px;
}

.contenido_tabla table td
{
height: 30px;
text-align: center;
border: 1px solid #9b9b9b;
}

.contenido_tabla table tr:nth-child(even) td
{
background-color: #e5e5e5;
}

.contenido_tabla table td:last-child
{
width: 35px;
}

.contenido_tabla table td:first-child,.contenido_tabla table th:first-child
{
    display: none;
}

/*Elementos*/

.c2,.c3,.c4,.c5,.c6
{
    padding: 10px;
}

textarea
{
    width: 100%;
    height: 100%;
    resize: none;
}

input[type = "text"],input[type = "date"],input[type = "password"]
{
height: 30px;
width: 100%;
text-align: center;
}

select
{
    height: 35px;
}
