.body
{ 
background: linear-gradient(to right,rgb(255, 249, 161), rgb(207, 141, 94))
}

.panel
{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);

width: 500px;
height: 350px;
border: 2px solid chocolate;
border-radius: 20px;
background: white;
}

#Clave, #Usuario
{
    margin: 10px;
    width: 300px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
}

.centrar
{
margin-left: 15%;
}

.log_imagen
{
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%,0%);
}

.ingresar
{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-80%);
    width: 150px;
}