#propietario_seleccionar_abono .centro
{
position: absolute;
justify-content: center;
align-items: center;
width: 1200px;
height: 500px;
background-color: white;
border-radius: 5px;
}

#propietario_seleccionar_abono .centro .c1
{
position: relative;
top: 0;
left: 0;
width: 100%;
height: 50px;
padding-top:1px;
}

#propietario_seleccionar_abono .centro .c1 button
{
float: inline-end;
height: 32px;
width: 32px;
margin-top: 10px;
margin-right: 10px;
background-color: rgb(233, 0, 0);
border: 0px;
color: white;
}



#propietario_seleccionar_abono .centro .c1 button:hover
{
cursor: pointer;
}


#propietario_seleccionar_abono .centro .c1 button:hover
{
cursor: pointer;
background-color: rgb(134, 0, 0);
}

#propietario_seleccionar_abono .centro .c2 
{
    width: calc(100% - padding);
    height: calc(100% - 70px);
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px;
}

#propietario_seleccionar_abono .centro .c2 input[type = "text"]
{
    position: relative;
    left: 350px;
    width: 400px;
    height: 40px;
    border-radius: 30px;
    background-color: white;
    border: 1px solid black;
    padding-left: 20px;
}

#propietario_seleccionar_abono .centro .c2 button
{

    width: 200px;
    height: 40px;
    border-radius: 30px;
    background-color: white;
    border: 1px solid black;
    float: inline-end;
}

#propietario_seleccionar_abono .centro .c2 div
{
    margin-top: 10px;
    overflow: auto;
    height: calc(100% - 60px);
    border: 1px solid black;
    background-color: white;
}

/*tabla*/

#propietario_seleccionar_abono .centro .c2 table
{
    width: 100%;
    height: 35px;
    border-collapse: collapse;
}

#propietario_seleccionar_abono .centro .c2 table th
{
    background-color: gray;
    color: white;
    position: sticky;
    top: 0px;
}

#propietario_seleccionar_abono .centro .c2 table tr
{
    text-align: center;
    height: 35px;
}

#propietario_seleccionar_abono .centro .c2 table td
{
border-left: 1px solid rgb(110, 110, 110);
border-right: 1px solid rgb(110, 110, 110);
font-weight: normal;
border-bottom: 1px solid rgb(194, 193, 193);
}

#propietario_seleccionar_abono .centro .c2 table tr:nth-child(even) td
{
    background-color: rgb(194, 193, 193);
}

#propietario_seleccionar_abono .centro .c2 table tr:nth-child(even):hover td ,#propietario_seleccionar_abono .centro .c2 table tr:hover
{
    background: #f19858;
   cursor: pointer;
}
