#tab_vi select
{
width: 140px;
height: 30px;
text-align: center;
float: inline-start;
z-index: 999;
}

#tab_vi td:nth-child(9)
{
    width: 170px;
}

#tab_vi td label
{
    margin-right: 4px;
    margin-top: 4px;
}

.verde
{
    width: 20px;
    height: 20px;
    background-color:green;
    border: 1px solid rgb(1, 75, 1);
    border-radius: 30px;
    float: left;
}

.amarillo
{

    width: 20px;
    height: 20px;
    background-color: rgb(255, 196, 0);
    border: 1px solid rgb(145, 111, 1);
    border-radius: 30px;
    float: left;
}

.rojo
{
    width: 20px;
    height: 20px;
    background-color: rgb(255, 0, 0);
    border: 1px solid rgb(145, 2, 2);
    border-radius: 30px;
    float: left;
}
